body {
    font-size: 0.12rem;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    display: -webkit-flex;
    -webkit-flex-direction: column;
}

.header {
    font-size: 0.18rem;
    height: 0.44rem;
    line-height: 0.44rem;
    text-align: center;
    position: relative;
    background: #eb3f01;
     .inp{
        width:70%;
        margin:.07rem auto;
        background: #fff;
        border-radius: .3rem;
        position: relative;
        display: flex;
        input{
            display: flex;
            width:80%;
            height:.3rem;
            border:0;
            margin:0 auto;
            border-radius: .3rem;
            padding-left:.4rem; 
        }
        .head-left{
            position: absolute;
            left:.1rem;
            top:.07rem;
            font-size: .16rem;
            color:#ccc;
        }
        
    }
    .header-left{
        position: absolute;
        left:.1rem;
        top:0;
        height:.3rem;
        width:.3rem;
        border-radius: 50%;
        background: #fff;
        line-height: .3rem;
        margin-top: .08rem;
    }
    .header-right{
        position: absolute;
        right:.1rem;
        top:0;
        height:.3rem;
        width:.3rem;
        border-radius: 50%;
        background: #fff;
        line-height: .3rem;
        margin-top: .08rem;
    }
}


.content {
    -webkit-flex: 1;
    overflow-y: scroll;
    .banner{
        width:100%;
        height:1rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .yi-list,.er-list,.san-list{
        width:96%;
        height:1rem;
        background: #ff5555;
        margin:.04rem auto;
        display: flex;
        color: #fff;
        .con-left{
            border-right: .01rem solid #ccc; 
            flex:1;
            dl{
                dt{
                    width:.8rem;
                    height:.5rem;
                    margin:.07rem auto;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
                dd{
                    font-size: .16rem;
                    text-align: center;
                }
            }
        }
        .con-center{
            flex:1;
            border-right: .01rem solid #ccc; 
            font-size: .14rem;
            .center-top{
                border-bottom: .01rem solid #ccc;
                line-height: .5rem;
                text-align: center;
            }
            .center-bottom{
                line-height: .5rem;
                text-align: center;
            }
        }
        .con-right{
            flex:1;
             font-size: .14rem;
            .right-top{
                border-bottom: .01rem solid #ccc;
                line-height: .5rem;
                text-align: center;
            }
            .right-bottom{
                line-height: .5rem;
                text-align: center;
            }
        }
    }
    .er-list{
        background: #03a9f5;
    }
    .san-list{
        background: #7eb53d;
    }
    .si-list{
        background: #ff9801;
        display: flex;
        width:96%;
        margin:.04rem auto;
        color: #fff;
        .con-left,.con-center,.con-right{
            flex:1;
            text-align: center;
            line-height: .5rem;
            border-right: .01rem solid #ccc;
        }
        .con-right{
            border-right: 0;
        }
    }
}


.footer {
    height: 0.5rem;
    display: flex;
    text-align: center;
    border-top: 1px solid #ccc;
    dl{
        flex:1;
        text-align: center;
        padding-top: .08rem;
        color:#ccc;
        dd{
            padding-top: .02rem;
            font-size: .12rem;
           
        }
        dt{
             i{
                font-size: .18rem;
            }
        }
    }
    .bg2{
        color:#00c9d2;
    }
}

